.gallery {
    @include center;
    margin-top: 150px;
    margin-left: 180px;//40 180
    margin-right: 0;
    width: 1560px;//1040 1560
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}