.header {
    top: 0px;
    height: 100px;
    width: 100%;
	background-color: $header-color;
    position: fixed;
    z-index: 1;
    box-shadow: 0px 1px 15px ;

    &__contents {
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-left: 200px;
        cursor: pointer;
    }

    &__name {
        font-size: 3rem;
        margin-left: 10px;
	    color: #fcedd8;
	   	font-family: 'Niconne', cursive;
	    font-weight: 700;
        text-shadow: 5px 5px 0px #eb452b, 
                    10px 10px 0px #efa032;

     &:hover {
         color: #dddddd;
     }
    }

    &__pic {
        object-fit: contain;
        width: 100px;
        height: 100px;
    }
}